@tailwind base;
@tailwind components;
@tailwind utilities;


a{
    color:red;
    background-color: gray;
}

.mainFont{
    font-family: "Inter", sans-serif;
}

.custom-border::after{
    position: absolute;
    background:#0ea5e9;
    content: '';
    width:100%;
    height:2px;
    bottom: -18px;
}

